<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Falso</title>
</head>
<body>
    
   <form  method="post"> {% csrf_token %}
        <p>
            Ingrese su usuario
            <input type="text"name= "username">
        </p>
        <p>ingrese su pasword
            <input type="passwword"name="password">
        </p>
            <input type="submit" value="Ingresar">


   </form>
        
</body>
</html>